EXPO_PUBLIC_PRIVY_APP_ID=cmnnk6n2c002d0cl47skaaz0d
EXPO_PUBLIC_PRIVY_CLIENT_ID=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_WEB_CHAT_ENDPOINT=https://stellarrclub.vercel.app/api/chat
